.row{

    /* debug */
    border: solid black;
}

.col{
    border: dashed red;
    background-color: yellow;
}
.container-fluid{
    background-color: rgb(169, 132, 132);
}

.container{
    background-color: lightblue;
   
}

#jumbotron .container:first-child{
    background-image: url(../img/jumbo-bg.png);
    /* height: 85vh; */
}

#jumbotron-2 .container {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
   /*  height: 65vh; */
}