.row{

    /* debug */
    border: solid green;
}

.col{
    border: dashed red;
    background-color: yellow;
}
.container-fluid{
    background-color: rgb(169, 132, 132);
}

.container{
    background-color: lightblue;
   
}

#jumbotron .container:first-child {
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 42rem;
}

#jumbotron-2 .container {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 42rem;
}