/* HEADER */
header{
    background-color: black;
}

.top-header > .col > img{
    width: 4rem;
    height: 2rem;
}

nav{
    background-color: white;
}

nav li,
nav div{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

li > div > img{
    width: 0.5rem;
    height: 0.5rem;
}




#jumbotron .container:first-child {
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 42rem;
}

#jumbotron-2 .container {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 42rem;
}

.bottom-footer > .row > .col > img {
    width: 1rem;
}

.copyright > .row > .col > img {
    width: 10rem;
}

#new-release{
    background-color: #1f1f1f;
}

#playstation-plus{
    background-color: #bebcbb;
}

#playstation-now {
    background-color: #161c3b;
}

.bottom-footer{
    background-color: #00439c; 
}
