/* Utils */

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

li {
	list-style-type: none;
}

a{
	text-decoration: none;
	color: inherit;
}

/* BUTTONS */
.btn{
	border-radius: 3rem;
}

.btn-danger{
	background-color: #cd3d0f;
}

.btn-dark{
	border-radius: 3rem;
	background-color: #363636;
}